html {
  background: url('./assets//GitHub_Clone_BackgroundImg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 85%;
  margin: auto;
}

.logo {
  height: 2em;
  width: auto;
}

.logo-text {
  position: relative;
  top: -0.6em;
}

.git-actions-button {
  margin: 1.5em;
  margin-left: 0;
  width: 70%;
}

.git-actions-button .button-text {
  text-align: left;
  text-transform: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-weight: 500;
}

.modal-overlay-on {
  z-index: 1002;
  display: block;
  opacity: 0.5;
}

.modal-show {
  z-index: 1003;
  display: block;
}
.modal-overlay-on-publish {
  z-index: 1002;
  display: block;
  opacity: 0.5;
}

.modal-content h4 {
  margin-bottom: 0.5em;
}

.modal-content .collection {
  margin: 1em 0;
}

.modal-content label {
  color: black;
}

.modal-content ::placeholder {
  color: darkgrey;
}

.new-branch-text {
  margin: 0 1em;
}

.branch-name-input {
  margin: 0 1em;
}

.choose-branch {
  display: block;
}

.repo-details-show {
  display: block;
}

.repo-details-hide {
  display: none;
}
.commit-messages {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

#repo-details {
  display: flex;
  flex-direction: row;
}

.show-details {
  display: flex;
  flex-direction: row;
  position: relative;
}
.commits-history {
<<<<<<< HEAD
<<<<<<< HEAD
  width: 30%;
||||||| merged common ancestors
<<<<<<< HEAD
  width: 30%;
=======
  <<<<<<<headwidth: 30%;
>>>>>>> Amogh-Soumya
||||||| merged common ancestors
<<<<<<< HEAD
  width: 30%;
=======
  width: 40;
>>>>>>> 73d79946514a2d88213f1ed99aaf34743d980a48
  min-width: 20%;
<<<<<<< HEAD
<<<<<<< HEAD
  max-height: 59.5rem;
||||||| merged common ancestors
||||||| merged common ancestors
  width: 22.5%;
=======
  width: 40%;
>>>>>>> soumya
||||||| merged common ancestors
||||||| merged common ancestors
  width: 22.5%;
=======
  width: 40%;
>>>>>>> soumya
=======
>>>>>>> 73d79946514a2d88213f1ed99aaf34743d980a48
  max-height: 59.5rem;
=======
  |||||||mergedcommonancestorswidth: 22.5%;
  =======width: 40%;
  >>>>>>>soumyamax-height: 59.5rem;
>>>>>>> Amogh-Soumya
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  border: 0.001em solid #333;
  box-shadow: 5px 0 5px -5px #333;
}

.staging-area {
  width:100%;
}

.commits-staging-area {
  width: 30%;
  min-width: 20%;
  max-height: 59.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  border: 0.001em solid #333;
  box-shadow: 5px 0 5px -5px #333;
}

.commits-history .card-panel {
  padding: 0.65em;
}

.changes-button {
  width: 50%;
}

.history-button {
  width: 50%;
}

.commit-details {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  width: 100%;
  max-width: 50rem;
  overflow-y: auto;
}

.commit-message-overview {
  width: 100%;
  height: 6em;
  border: 0.001em solid #333;
  box-shadow: 0 5px 5px -5px #333;
}

.commit-message-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
  margin: 0.3em;
}

.commit-sub-details {
  display: flex;
  width: 32.5em;
  justify-content: space-between;
  margin: 0.3em;
}

.commit-sub-details .material-icons {
  font-size: 1.2em;
  margin: 0.2em;
  position: relative;
  top: 0.2em;
}

.display-changes {
  height: 60%;
}

.file-changes {
  height: 100%;
  width: 20%;
  border: 0.001em solid #333;
  box-shadow: 5px 0 5px -5px #333;
}

.diff-to-html {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 40rem;
  overflow-y: auto;
}

.d2h-wrapper {
  font-size: 0.75rem;
<<<<<<< HEAD
  width: 98%;
  margin-left: 1.25em;
||||||| merged common ancestors
  width: 100%;
=======
  margin: 0 1.25em;
  width: 98%;
>>>>>>> Amogh-Soumya
  max-height: 43rem;
  overflow-y: auto;
}

.d2h-wrapper td,
th {
  padding: 2px 2px;
}

.d2h-files-diff {
  display: flex;
  flex-direction: row;
}

.d2h-file-list-wrapper {
  width: 20%;
  margin-right: 6rem;
  margin-left: 1em;
}

.d2h-code-side-linenumber {
  position: relative !important;
}

.d2h-code-linenumber {
  position: relative !important;
}

.select-output-format {
  display: block;
  margin: 0.5em;
  width: 15%;
}
<<<<<<< HEAD

.checkbox-and-changed-file {
  width: 100%;
  display: flex;
  flex-direction: row;
}
<<<<<<< HEAD

.collection-changedFile {
  width: 100%;
}

.commit-button {
  width: 100%;
}

.file-name {
  cursor: pointer;
}
||||||| merged common ancestors
=======

.preloader-wrapper {
  margin: auto;
}
>>>>>>> Amogh
||||||| merged common ancestors
=======
.selected-branch{
  font-weight: bold;
}
>>>>>>> 73d79946514a2d88213f1ed99aaf34743d980a48
